.main {
  scroll-margin-top: var(--app-shell-header-offset, 0);
  flex: 1;
  padding-top: var(--app-shell-header-offset) - var(--mantine-spacing-xl);
}

.content {
  min-height: calc(100vh - var(--app-shell-header-offset, 0));
  position: relative;
  z-index: 1;
  padding-bottom: rem(60px);
  display: flex;
  flex-direction: column;
  gap: 6px;
  @mixin light {
    background-color: var(--mantine-color-white);
    box-shadow: var(--mantine-shadow-sm);
  }

  @mixin dark {
    background-color: var(--mantine-color-dark-7);
    box-shadow: none;
  }
}
