.page-enter {
  /* transform: translateX(-100%) scale(0.8); */
}

.page-enter-active {
  /* animation: page-fromLeft 0.5s ease both; */
}

.page-exit {
}

.page-exit-active {
  /* animation: page-toRight 0.5s ease both; */
}

main {
  overflow: hidden;
}

@keyframes page-fromTop {
  to {
    transform: translateY(0) scale(1);
  }
}

@keyframes page-toTop {
  to {
    transform: translateY(-100%) scale(0.8);
  }
}

@keyframes page-fromBottom {
  to {
    transform: translateY(0) scale(1);
  }
}

@keyframes page-toBottom {
  to {
    transform: translateY(100%) scale(0.8);
  }
}

@keyframes page-fromLeft {
  to {
    transform: translateX(0) scale(1);
  }
}

@keyframes page-toLeft {
  to {
    transform: translateX(-100%) scale(0.8);
  }
}

@keyframes page-fromRight {
  to {
    transform: translateX(0) scale(1);
  }
}

@keyframes page-toRight {
  to {
    transform: translateX(100%) scale(0.8);
  }
}
