.text {
  font-size: 14px;
  font-weight: 500;
  white-space: pre-wrap;
  user-select: none;
  color: light-dark(#212121, #bababa);
}

.title {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.02em;
  user-select: none;
  color: light-dark(#313235, #cdcdcd);
}

.button {
  font-size: 12px;
  font-weight: 500;
  border-color: red;
  color: light-dark(#000000, #eaeaea);
}

.device {
  font-size: 12px;
  font-weight: 600;
  color: light-dark(#313333, #cdcdcd);
}

.location {
  font-size: 14px;
  font-weight: 500;
  color: light-dark(#313333, #cdcdcd);
}
