.header {
  background-color: light-dark(rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.8));
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 200;

  @mixin light {
    border-bottom: rem(1px) solid var(--mantine-color-gray-2);
  }

  @mixin dark {
    border-bottom: rem(1px) solid var(--mantine-color-dark-8);
  }
}