.root {
  width: calc(90vw - var(--app-shell-navbar-offset, 0px));
}

.withHeight {
  height: calc(100vh - rem(290) - var(--app-shell-header-offset));

  width: calc(90vw - var(--app-shell-navbar-offset, 0px));

  @media (max-width: $mantine-breakpoint-lg) {
    height: calc(100vh - rem(350) - var(--app-shell-header-offset));
  }

  @media (max-width: $mantine-breakpoint-sm) {
    height: calc(100vh - rem(290) - var(--app-shell-header-offset));
  }
}
