body {
  overflow: auto
}

*::-webkit-scrollbar {
  width: 0px;
}

*::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 9px;
}

* {
  scrollbar-width: 3px;
  scrollbar-base-color: green;
  scrollbar-track-color: red;
  scrollbar-arrow-color: blue;
}
