.root {
  height: 100vh;
}

.closeBtn {
  position: absolute;
  top: .6rem;
  right: .6rem;
}

.list {
  padding: 1rem 0 1rem 1rem;
}

.panel {
  padding: 2rem 2rem 1rem 1rem;
}

.groupTitleText {
  padding: 6px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  text-align: center;
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-3));
}
